@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url('./RoGSanSrfStd-Bd_latin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-7F;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url('./RoGSanSrfStd-Bd_kana.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+3000-30FF;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url('./RoGSanSrfStd-Bd_other_mod.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+80-2FFF, U+3100-4DFF, U+A000-10FFFF;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.1.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+9f3e, U+9f62, U+9f63, U+9f66, U+9f67, U+9f8d;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.2.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+9dfa, U+9e1a, U+9e1e, U+9e75, U+9e78, U+9e79, U+9e7c, U+9e93, U+9e97, U+9e9d, U+9ea9, U+9eb4, U+9eb5, U+9eb9, U+9eba, U+9ebe, U+9ebf, U+9ecd, U+9ed0, U+9ed2, U+9ed9, U+9edd, U+9eef, U+9ef4, U+9f2c;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.3.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+9c3b, U+9c47, U+9c48, U+9c57, U+9c78, U+9ce5, U+9ce9, U+9cf3, U+9cf4, U+9cf6, U+9d08, U+9d09, U+9d12, U+9d1b, U+9d26, U+9d28, U+9d3b, U+9d51, U+9d59, U+9d5c, U+9d60, U+9d61, U+9d6c, U+9d70, U+9d72, U+9d7a, U+9d89, U+9d8f, U+9daf, U+9db4, U+9db8, U+9dd7, U+9df2, U+9df9;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.4.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+9a5f, U+9a62, U+9a65, U+9ab0, U+9abc, U+9ac0, U+9ac4, U+9acf, U+9ad1, U+9ad9, U+9ae3, U+9aea, U+9aed, U+9aef, U+9af4, U+9afb, U+9b18, U+9b1a, U+9b22, U+9b23, U+9b27, U+9b28, U+9b31, U+9b3b, U+9b43, U+9b4d, U+9b51, U+9b5a, U+9b6f, U+9b8e, U+9b91, U+9b9f, U+9ba8, U+9baa, U+9bab, U+9bad, U+9bae, U+9bb1, U+9bc9, U+9bca, U+9bd6, U+9bdb, U+9be8, U+9bf0, U+9bf1, U+9c10, U+9c15, U+9c24, U+9c2d, U+9c39;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.5.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+98db, U+98e2, U+98e9, U+98ef, U+98f2, U+98f4, U+98fc-98fe, U+9905, U+990a, U+990c, U+9913, U+991e, U+9921, U+9928, U+992c, U+9945, U+994c, U+9951, U+9952, U+9957, U+9997, U+9998, U+99a5, U+99ac, U+99ad, U+99b3, U+99b4, U+99c1, U+99c4-99c6, U+99d0, U+99d2, U+99d5, U+99dd, U+99ed, U+99f1, U+99ff, U+9a0e, U+9a0f, U+9a12, U+9a13, U+9a19, U+9a28, U+9a30, U+9a40, U+9a4d, U+9a4e, U+9a52, U+9a55, U+9a5a;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.6.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+9730, U+973d, U+9742, U+9744, U+9749, U+9751, U+976d, U+977c, U+9784, U+9785, U+978f, U+9798, U+97a3, U+97b4, U+97cb, U+97d3, U+97dc, U+97ee, U+97fb, U+97ff, U+9801-9803, U+9805, U+9806, U+9808, U+980c, U+9810-9813, U+9817, U+9818, U+9824, U+982c, U+982d, U+9830, U+9834, U+9838, U+983c, U+9846, U+984d, U+984e, U+9854, U+9855, U+9857, U+9858, U+985a, U+985b, U+9865, U+9867, U+986b, U+9870, U+9871, U+98af, U+98b1, U+98b6, U+98c4;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.7.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+95bb, U+95be, U+95c7, U+95ca, U+95d5, U+95d6, U+95d8, U+95e2, U+965b, U+965c, U+965e, U+9663, U+9665, U+966c, U+9670, U+9673, U+9678, U+967a, U+967d, U+9685, U+9688, U+968a, U+968e, U+9695, U+9698, U+96a0, U+96a3, U+96b7, U+96bb, U+96bc, U+96c9, U+96d1, U+96d6, U+96db, U+96e3, U+96eb, U+96f0, U+96f2, U+96f9, U+970a, U+970f, U+9711, U+9719, U+9727;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.8.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+9583, U+9589, U+958f, U+9591, U+9592, U+9598, U+95a2-95a5, U+95a8, U+95b2;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.9.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+9418-941a, U+9438, U+9451, U+945a, U+9462, U+9475, U+947c, U+947f;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.10.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+92b7, U+92b9, U+92d0, U+92d2, U+92e4, U+92ea, U+92ed, U+92f3, U+92f8, U+92fc, U+9306, U+9310, U+9318, U+931a, U+931e, U+9320, U+9321, U+9326, U+9328, U+932b, U+932c, U+932f, U+9332, U+934b, U+934d, U+9354, U+9357, U+935b, U+936e, U+9375, U+937e, U+938c, U+9394, U+9396, U+9397, U+939a, U+93a7, U+93ac, U+93ae, U+93b9, U+93c6, U+93d1, U+93d6, U+93de, U+93e1, U+93e4, U+93f8;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.11.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+914c, U+914e, U+9154, U+9162, U+9163, U+9169, U+9182, U+918d, U+9190, U+919c, U+91a4, U+91ac, U+91b5, U+91b8, U+91c6, U+91c8, U+91d7, U+91d8, U+91dd, U+91e3, U+91e6, U+91e7, U+91ed, U+920a, U+920d, U+920e, U+9210, U+9214, U+9215, U+9234, U+9237, U+9239, U+923a, U+923c, U+9240, U+9244, U+9245, U+924e, U+9251, U+925b, U+925e, U+9262, U+9264, U+9266, U+9271, U+927e, U+9280, U+9283, U+9285, U+9288, U+9291, U+9293, U+9298, U+92ad;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.12.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+8fe2, U+8fe9, U+8ff8, U+9015, U+901e, U+9021, U+9031, U+9041, U+9045, U+904a, U+904f, U+9051, U+9054, U+9055, U+905c, U+9060, U+9061, U+9069, U+9076-9078, U+907a, U+907c, U+907d, U+9081, U+9083, U+908f, U+90a8, U+90b8, U+90de, U+90f5, U+90f7, U+9115, U+9127, U+912d, U+9149, U+914a;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.13.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+8e35, U+8e42, U+8e49, U+8e50, U+8e59, U+8e5f, U+8e74, U+8e76, U+8e7c, U+8e84, U+8e85, U+8e87, U+8e8d, U+8e99, U+8eac, U+8ec0, U+8eca-8ecd, U+8ed2, U+8edf, U+8ee2, U+8eeb, U+8ef8, U+8efd, U+8f03, U+8f09, U+8f13, U+8f14, U+8f1d, U+8f29, U+8f2a, U+8f2f, U+8f38, U+8f3b, U+8f3f, U+8f44, U+8f4d, U+8f4e, U+8f5f, U+8fae, U+8faf, U+8fb2, U+8fb7, U+8fba-8fbc, U+8fbf, U+8fc2, U+8fda;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.14.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+8caf, U+8cb0, U+8cb4, U+8cb6-8cb8, U+8cbb, U+8cbc, U+8cbf, U+8cc0, U+8cc2-8cc4, U+8cc7, U+8cca, U+8ccd, U+8cd1, U+8cd3, U+8cdb, U+8cdc, U+8cde, U+8ce0, U+8ce2, U+8ce6, U+8cea, U+8ced, U+8cf4, U+8cfa, U+8cfc, U+8cfd, U+8d05, U+8d08, U+8d0f, U+8d13, U+8d14, U+8d16, U+8d66, U+8d67, U+8d6d, U+8d73, U+8d99, U+8da8, U+8dcb, U+8ddb, U+8de1, U+8de3, U+8deb, U+8dfc, U+8e09, U+8e0a, U+8e1e;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.15.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+8b6c, U+8b70, U+8b72, U+8b74, U+8b77, U+8b83, U+8b90, U+8c3f, U+8c48, U+8c4a, U+8c4c, U+8c7a, U+8c82, U+8c89, U+8c9d, U+8c9e, U+8ca0-8ca2, U+8ca7-8cac;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.16.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+8a02, U+8a03, U+8a08, U+8a0a, U+8a0e, U+8a13, U+8a16-8a18, U+8a1b, U+8a1d, U+8a1f, U+8a23, U+8a25, U+8a2d, U+8a31, U+8a33, U+8a34, U+8a37, U+8a3a, U+8a3c, U+8a48, U+8a50, U+8a54, U+8a55, U+8a5b, U+8a5e, U+8a60, U+8a62, U+8a63, U+8a66, U+8a69, U+8a6b, U+8a6d, U+8a6e, U+8a70, U+8a72, U+8a73, U+8a85, U+8a87, U+8a8c, U+8a8d, U+8a91, U+8a95, U+8a98, U+8aa0, U+8aa1, U+8aa3, U+8aa4, U+8aa6, U+8aa8, U+8aac, U+8aad, U+8ab0, U+8ab2, U+8ab9, U+8abc, U+8abe, U+8abf, U+8ac7, U+8acf, U+8ad2, U+8ad6, U+8adb, U+8adc, U+8adf, U+8ae1, U+8ae6, U+8ae7, U+8aed, U+8aee, U+8af1, U+8af3, U+8af7, U+8af8, U+8afa, U+8afe, U+8b00-8b02, U+8b0e, U+8b17, U+8b19, U+8b1b, U+8b1d, U+8b21, U+8b28, U+8b2c, U+8b33, U+8b39, U+8b3e, U+8b4f, U+8b58, U+8b5a, U+8b5c;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.17.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+8872, U+887d-887f, U+8882, U+8888, U+88a2, U+88a4, U+88b1, U+88b4, U+88b7, U+88cf, U+88dc, U+88df, U+88e1, U+88e8, U+88f3, U+88fd, U+88fe, U+8907, U+890c, U+8912, U+8913, U+8925, U+892b, U+893b, U+8941, U+8956, U+895e, U+895f, U+8966, U+896f, U+8972, U+8987, U+898f, U+8997, U+899a, U+89a7, U+89aa, U+89b3, U+89da;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.18.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+86e4, U+86ed, U+86f8, U+86f9, U+86fe, U+8703, U+8706, U+8709, U+870a, U+8711, U+871a, U+8725, U+8729, U+8734, U+873b, U+873f, U+8753, U+8755, U+8757, U+8766, U+876e, U+8778, U+8782, U+879f, U+87a2, U+87ab, U+87b3, U+87bd, U+87c0, U+87c4, U+87cb, U+87e0, U+87ec, U+87fb, U+881f, U+8846, U+8852, U+8853, U+8859, U+885b, U+885d, U+8862;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.19.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+8535, U+8543, U+8548, U+854e, U+8553, U+8557, U+8559, U+8568-856a, U+856d, U+858a, U+8591, U+8594, U+8599, U+85a6, U+85a8, U+85a9, U+85ab, U+85ac, U+85ae, U+85b9, U+85c1, U+85cd, U+85e9, U+8606, U+8607, U+860a, U+861a, U+862d, U+863f, U+8654, U+865c, U+8671, U+867b, U+8693, U+86a4, U+86af, U+86c6, U+86c9, U+86cd, U+86ce, U+86d4, U+86de, U+86df;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.20.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+83c5, U+83d3, U+83d6, U+83df, U+83eb, U+83f0, U+840a, U+8429, U+843c, U+8449, U+844e, U+8466, U+846d, U+847a, U+8490, U+8494, U+849f, U+84a1, U+84b4, U+84bb, U+84bc, U+84cb, U+84d0, U+84d1, U+84ee, U+84fc, U+8500, U+8511, U+8514, U+8515, U+8517, U+8518, U+851f, U+8523, U+8526, U+852d;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.21.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+82c5, U+82d3, U+82de, U+82e7, U+82eb, U+82fa, U+8301, U+8332, U+8340, U+834a, U+834f, U+8358, U+8373, U+837b, U+837c, U+837f, U+83a2, U+83a8;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.22.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+814e, U+8151, U+816b, U+8171, U+8178, U+8182, U+8188, U+819a, U+81a0, U+81a3, U+81ba, U+81bf, U+81c6, U+81cd, U+81d1, U+81d3, U+81d8, U+81e5, U+81e8, U+81fc, U+8201, U+8202, U+8208, U+820e, U+8210, U+8217, U+8218, U+821b, U+821c, U+8233, U+8237, U+8259, U+825f, U+8266, U+8268, U+826e, U+8271, U+8276, U+828d;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.23.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+8004, U+8006, U+8012, U+8018, U+8056, U+805e, U+8061, U+806f, U+8073, U+8074, U+8077, U+807e, U+80ad, U+80b1, U+80c4, U+80da, U+80db, U+80e4, U+80ef, U+80f1, U+80f4, U+8105, U+8107, U+8108, U+811b, U+8123, U+8133, U+8139;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.24.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+7f36, U+7f4c, U+7f58, U+7f60, U+7f70, U+7f75, U+7f77, U+7f79, U+7f85, U+7f86, U+7f9a, U+7fa8, U+7fa9, U+7fb2, U+7fcc, U+7fd2, U+7fd5, U+7fe9, U+7feb, U+7ff3, U+7ff9;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.25.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+7dca, U+7dcb, U+7dcf, U+7dd1, U+7dd2, U+7dd6, U+7dd8, U+7dda, U+7dde, U+7de0, U+7de8, U+7de9, U+7dec, U+7def, U+7df4, U+7dfb, U+7e01, U+7e04, U+7e0a, U+7e0b, U+7e1b, U+7e1e, U+7e26, U+7e2b, U+7e2e, U+7e37, U+7e39, U+7e3a, U+7e3e, U+7e43, U+7e4a, U+7e4b, U+7e4d, U+7e54, U+7e55, U+7e59, U+7e5a, U+7e5e, U+7e61, U+7e6b, U+7e6d, U+7e70, U+7e79, U+7e7b, U+7e7d, U+7e82, U+7e8f, U+7e92, U+7e94, U+7e9c;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.26.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+7cdc, U+7cde, U+7ce0, U+7ce7, U+7cf6, U+7cf8, U+7cfe, U+7d00, U+7d04-7d06, U+7d0a, U+7d0b, U+7d0d, U+7d10, U+7d14, U+7d17-7d19, U+7d1b, U+7d21, U+7d2c, U+7d2e, U+7d30, U+7d33, U+7d39, U+7d3a, U+7d42-7d44, U+7d46, U+7d4c, U+7d5c, U+7d5e, U+7d61-7d63, U+7d66, U+7d68, U+7d71, U+7d75, U+7d76, U+7d79, U+7d8f, U+7d99, U+7d9a, U+7d9c, U+7da0, U+7dac, U+7dad, U+7daf, U+7db1, U+7db4, U+7db5, U+7db7, U+7db8, U+7dba, U+7dbb, U+7dbd-7dbf;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.27.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+7bc4, U+7bc6, U+7bc9, U+7bcb, U+7bdd, U+7be0, U+7be4, U+7be5, U+7be9, U+7c07, U+7c1e, U+7c21, U+7c2a, U+7c2b, U+7c38, U+7c3e, U+7c43, U+7c50, U+7c54, U+7c5f, U+7c60, U+7c64, U+7c6c, U+7c81, U+7c82, U+7c8b, U+7c8d, U+7c95, U+7c9b, U+7ca7, U+7cb1, U+7cb3, U+7cbd, U+7cc0;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.28.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+7ad1, U+7adc, U+7add, U+7ae6, U+7af6, U+7afa, U+7aff, U+7b04, U+7b08, U+7b0a, U+7b0f, U+7b19, U+7b1e, U+7b20, U+7b25, U+7b39, U+7b46, U+7b4d, U+7b4f, U+7b50, U+7b67, U+7b6c, U+7b6e, U+7b75, U+7b87, U+7b8b, U+7b8d, U+7b8f, U+7b92, U+7b94, U+7b95, U+7b99, U+7b9d, U+7b9e, U+7baa, U+7bb4, U+7bb8, U+7bc0;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.29.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+7980, U+798a, U+798d, U+798e, U+7994, U+799b, U+79a6, U+79b0, U+79b1, U+79bf, U+79d5, U+79e3, U+7a14, U+7a17, U+7a1c, U+7a1f, U+7a2e, U+7a32, U+7a37, U+7a3c, U+7a40, U+7a42, U+7a49, U+7a4d-7a4f, U+7a62, U+7a63, U+7a6b, U+7a88, U+7a93, U+7a95, U+7a98, U+7aa9, U+7aaa, U+7aae, U+7aaf, U+7aba, U+7ac4, U+7ac8;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.30.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+784e, U+786f, U+787c, U+7881, U+7887, U+7893, U+78a9, U+78ba, U+78bc, U+78d0, U+78d4, U+78ef, U+7901, U+790e, U+7919, U+792b, U+7940, U+7947, U+7949, U+7950, U+7953, U+795a, U+795f, U+7960, U+7962;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.31.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+771b, U+7726, U+773a, U+7746, U+7765, U+7766, U+7768, U+777e, U+778b, U+7791, U+779e, U+77a0, U+77a5, U+77ad, U+77bd, U+77bf, U+77c7, U+77cd, U+77da, U+77e7, U+77ef, U+7812, U+7815, U+7821, U+7825-7827, U+7832, U+783a;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.32.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+760b, U+7620-7622, U+7627, U+7630, U+7634, U+7642, U+7647, U+7648, U+7652, U+7658, U+7661, U+7669, U+766c, U+7672, U+7678, U+767a, U+7690, U+769a, U+769b, U+769e, U+76a6, U+76ba, U+76bf, U+76c2, U+76c3, U+76de, U+76e3-76e5, U+76ea, U+7704, U+7707, U+7708, U+770c;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.33.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+7501, U+750d, U+7511, U+7515, U+7523, U+7525, U+7526, U+752f, U+753a, U+7551, U+755a, U+755d, U+7560, U+7562, U+7566, U+756f, U+7570, U+7573, U+757f, U+758b, U+758e, U+7594, U+759a, U+759d, U+75a3, U+75a5, U+75b1, U+75b3, U+75b5, U+75b8, U+75bd, U+75cd, U+75d4, U+75d9, U+75de, U+75e2, U+75e3, U+75e9, U+75f2, U+75f3, U+75fa, U+75fc, U+75fe, U+75ff, U+7601;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.34.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+73ea, U+73f5, U+7407, U+7425, U+7429, U+742e, U+7432, U+7435, U+7436, U+743a, U+745b, U+7460, U+7462, U+746a, U+746f, U+7473, U+7489, U+749f, U+74b0, U+74bd, U+74ca, U+74e2, U+74e9;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.35.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+72e1, U+72fd, U+730a, U+7316, U+731f, U+7329, U+7336, U+7337, U+733e, U+7344, U+7345, U+7357, U+7363, U+7370, U+7372, U+737a, U+73c2, U+73c8, U+73c9, U+73d2, U+73d6, U+73e3;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.36.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+71a8, U+71b1, U+71b9, U+71be, U+71c1, U+71c8, U+71d0, U+71e6, U+71e7, U+71ed, U+71f9, U+71fb, U+71fc, U+721b, U+7230, U+723a, U+723c, U+723e, U+7240, U+7246, U+7252, U+7258, U+725d, U+7274, U+727d, U+7282, U+7287, U+7292, U+72a0, U+72b1, U+72be, U+72c3, U+72c6, U+72ce, U+72d2, U+72db;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.37.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+7005, U+7006, U+7009, U+7015, U+701d-701f, U+7026-7028, U+702c, U+7030, U+703e, U+7058, U+707d, U+7085, U+708a, U+7099, U+70bb, U+70cf, U+70d9, U+70fd, U+7104, U+7109, U+7114, U+711c, U+713c, U+7146, U+7147, U+7149, U+7156, U+7159, U+715c, U+7165, U+7169, U+717d, U+7184;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.38.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+6edd, U+6eec, U+6ef2, U+6ef8, U+6efe, U+6f01, U+6f09, U+6f15, U+6f22, U+6f23, U+6f2c, U+6f31, U+6f32, U+6f38, U+6f3f, U+6f45, U+6f51, U+6f54, U+6f5f, U+6f64, U+6f70, U+6f74, U+6f7a, U+6f97, U+6fb1, U+6fc1, U+6fc3, U+6fdb, U+6fe0, U+6fe1, U+6fe4, U+6feb, U+6fef, U+6ffa, U+6ffe;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.39.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+6dc6, U+6dcf, U+6dea, U+6dec, U+6df5, U+6df8, U+6dfc, U+6e07-6e09, U+6e0b, U+6e13, U+6e15, U+6e1a, U+6e1b, U+6e1f, U+6e25-6e27, U+6e2b, U+6e2c, U+6e39, U+6e3a, U+6e3c, U+6e3e, U+6e4a, U+6e4d, U+6e5c, U+6e67, U+6e6e, U+6e6f, U+6e72, U+6e80, U+6e96, U+6e9d, U+6e9f, U+6eb7, U+6ebf, U+6ec2, U+6ec4, U+6ec5, U+6ecc, U+6ed3, U+6ed4;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.40.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+6cbc, U+6cc1, U+6cda, U+6d04, U+6d1f, U+6d29, U+6d35, U+6d44, U+6d5a, U+6d5c, U+6d63, U+6d6c, U+6d6f, U+6d87, U+6d8e, U+6d93, U+6d95, U+6d96, U+6d99, U+6d9c, U+6dac, U+6db8, U+6dbc;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.41.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+6b86, U+6b89, U+6bb2, U+6bba, U+6bbb, U+6bc0, U+6bce, U+6bd6, U+6bd8, U+6bec, U+6c08, U+6c17, U+6c37, U+6c3e, U+6c3f, U+6c4e, U+6c50, U+6c5a, U+6c5c, U+6c5e, U+6c6f, U+6c72, U+6c7a, U+6c86, U+6c8c, U+6c93, U+6c96, U+6ca2, U+6cae, U+6cb1;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.42.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+6a0b, U+6a17, U+6a19, U+6a29, U+6a2b, U+6a30, U+6a35, U+6a39, U+6a3a, U+6a3d, U+6a46, U+6a47, U+6a4b, U+6a6b, U+6a7e, U+6a7f, U+6a84, U+6a8e, U+6a90, U+6a97, U+6a9c, U+6ab3, U+6abb, U+6ac2, U+6ac3, U+6ad3, U+6ada, U+6adb, U+6adf, U+6ae4, U+6ae8, U+6b04, U+6b05, U+6b12, U+6b16, U+6b37, U+6b3d, U+6b4e, U+6b53, U+6b54, U+6b69, U+6b6f, U+6b73, U+6b74, U+6b80;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.43.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+68e7, U+68f2, U+68f9, U+6900, U+690b, U+691b, U+691c, U+6934, U+693d, U+693f, U+694a, U+6953, U+6954, U+6962, U+6968, U+696b, U+696e, U+696f, U+6973, U+697d, U+698a, U+698e, U+6994, U+6998, U+699b, U+69a7, U+69c3, U+69cb-69cd, U+69d3, U+69d8, U+69d9, U+69f2, U+69fb, U+69ff;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.44.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+67a0, U+67a1, U+67b3, U+67b7, U+67bb, U+67c0, U+67c1, U+67ca, U+67d1, U+67d8, U+67dd, U+67de, U+67e2, U+67e9, U+67f5, U+67fb, U+67fe, U+6801, U+6803, U+6804, U+681e, U+6822, U+6834, U+6840, U+6841, U+6844, U+6853, U+685c, U+685d, U+685f, U+6867, U+687f, U+6883, U+689f, U+68a2, U+68b1, U+68b6, U+68bc, U+68c4, U+68c8, U+68d7, U+68df;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.45.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+663b, U+6641, U+664f, U+6659, U+6665, U+6666, U+6669, U+6673, U+6681, U+6688, U+66a0, U+66a2, U+66a6, U+66ab, U+66b2, U+66b8, U+66b9, U+66c7, U+66d6, U+66da, U+66dc, U+66e0, U+66e9, U+66f3, U+66fa, U+66fd, U+6715, U+6726, U+6727, U+672d, U+6736, U+6753, U+6762, U+6773, U+6775, U+6777, U+6787;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.46.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+64fe, U+6518, U+6523, U+652b, U+652c, U+654e, U+6557, U+655d, U+6575, U+6582, U+6583, U+6589, U+658e, U+659f, U+65a1, U+65ac, U+65c6, U+65db, U+6600, U+6607, U+6609, U+661e, U+6624, U+662e, U+6631, U+6636;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.47.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+63be, U+63c3, U+63c4, U+63c6, U+63d6, U+63da, U+63db, U+63e3, U+63ee, U+63f5, U+63f6, U+63fa, U+640d, U+6414, U+6417, U+6426, U+643e, U+6442, U+6451, U+647a, U+6483, U+6488, U+6493, U+649a, U+649d, U+64a5, U+64ab, U+64b2, U+64b9, U+64bb, U+64c1, U+64e1, U+64e2, U+64ec, U+64f1, U+64f2;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.48.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+623b, U+6248, U+6249, U+6255, U+6271, U+627c, U+6289, U+6294, U+629c, U+629e, U+62c8, U+62d7, U+62d9, U+62dd, U+62e0, U+62e1, U+62f5, U+62f6, U+630c, U+6319, U+631f, U+633f, U+634c, U+635c, U+6368, U+6369, U+6372, U+637a, U+637b, U+6383, U+6396, U+639b, U+639f, U+63a1, U+63a3, U+63ac, U+63b2, U+63b4, U+63bb;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.49.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+610d, U+6115, U+6120, U+612c, U+6130, U+6137, U+613e, U+6144, U+6147, U+614a, U+614b, U+615a, U+615f, U+6163, U+6165, U+616b, U+616e, U+6173-6177, U+617e, U+6182, U+618a, U+618e, U+6190, U+6191, U+6194, U+619a, U+61a4, U+61a7, U+61a9, U+61ab, U+61ac, U+61b2, U+61b6, U+61c3, U+61c7, U+61ca, U+61d0, U+61e6, U+61f2, U+61f6, U+61f8, U+61fc, U+61fe, U+620d, U+620e, U+6213, U+621f, U+6226, U+622e, U+622f, U+6238;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.50.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5fd6, U+5fdc-5fde, U+5ff8, U+5fff, U+600f, U+6020, U+6029, U+602b, U+602f, U+6041, U+6043, U+6046, U+6059, U+605a, U+605d, U+6063, U+6065, U+606a, U+606c, U+6075, U+6085, U+608a, U+608c, U+6092, U+6096, U+609b, U+60a7, U+60a9, U+60aa, U+60b4, U+60b6, U+60b8, U+60bd, U+60c7, U+60d8, U+60da, U+60e3, U+60f0, U+60f6;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.51.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5eab, U+5eb5, U+5eb6, U+5ec2, U+5ec3, U+5ec8, U+5edf, U+5ee0, U+5eec, U+5efb, U+5efc, U+5eff, U+5f01, U+5f0b, U+5f10, U+5f11, U+5f14, U+5f29, U+5f35, U+5f3c, U+5f3e, U+5f45, U+5f4a, U+5f4e, U+5f57, U+5f59, U+5f67, U+5f6b, U+5f77, U+5f7f, U+5f82, U+5f8a, U+5f93, U+5f98, U+5fa0, U+5fa8, U+5fa9, U+5fb3, U+5fb4, U+5fb9;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.52.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5d42, U+5d50, U+5d69, U+5d6f, U+5d84, U+5d8b, U+5dba, U+5dbc, U+5dcc, U+5dd2, U+5de3, U+5df3, U+5dfb, U+5dfd, U+5e11, U+5e1a, U+5e1b, U+5e25, U+5e2f, U+5e30, U+5e33, U+5e40, U+5e44, U+5e47, U+5e4c, U+5e54, U+5e5f, U+5e61, U+5e63, U+5e79, U+5e7e, U+5e81, U+5e83, U+5e87, U+5e96;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.53.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5bf5, U+5bfe, U+5c02, U+5c09, U+5c0b, U+5c0e, U+5c1e, U+5c28, U+5c3b, U+5c4d, U+5c5b, U+5c62, U+5c64, U+5c79, U+5ca1, U+5cac, U+5cb1, U+5cba, U+5cd9, U+5ce0, U+5ce8, U+5cef, U+5cf6, U+5d11, U+5d15, U+5d17, U+5d19, U+5d27;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.54.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5ae1, U+5b0c, U+5b16, U+5b22, U+5b2a, U+5b2c, U+5b30, U+5b32, U+5b45, U+5b51, U+5b56, U+5b6b, U+5b70, U+5b8d, U+5b95, U+5b9f, U+5ba5, U+5ba6, U+5bae, U+5bb8, U+5bc0, U+5bd0, U+5bd4, U+5bd8, U+5bdb, U+5be5, U+5be7, U+5be9, U+5bec, U+5bee;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.55.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5981, U+59a4, U+59ac, U+59ba, U+59be, U+59c9, U+59e5, U+59e6, U+59ea, U+59eb, U+5a11, U+5a2f, U+5a3c, U+5a40, U+5a41, U+5a62, U+5a66, U+5a6c;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.56.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5831, U+583a, U+5840, U+5841, U+584a, U+5852, U+5857, U+5859, U+585a, U+5869, U+5875, U+5879, U+587e, U+5897, U+589c, U+58b3, U+58be, U+58c7, U+58ca, U+58cc, U+58d5, U+58ec, U+58f1, U+58f2, U+58f7, U+5909, U+590b, U+5919, U+5922, U+5925, U+592d, U+593e, U+5944, U+5953, U+5968, U+596a, U+596e;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.57.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+570f, U+5712, U+5727, U+5769, U+57a3, U+57ac, U+57c7, U+57c8, U+57d2, U+57dc, U+57f4, U+57f7, U+57fc, U+5800, U+5805, U+5819, U+581d;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.58.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5606, U+5614, U+5616, U+5617, U+5629, U+562f, U+5636, U+5638, U+5642, U+564c, U+5653, U+565b, U+5664, U+566b, U+5674, U+5678, U+567a, U+5686, U+5687, U+56a2, U+56a5, U+56ae, U+56c1-56c3, U+56e3, U+56ee, U+56f2, U+56f3, U+56f9, U+5700, U+5703, U+5704;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.59.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+5533, U+5538, U+553e, U+5540, U+5544, U+5553, U+5556, U+555c, U+555e, U+557b, U+557c, U+5583, U+5586, U+558b, U+5599, U+559a, U+55a8-55ac, U+55b0, U+55b6, U+55c4, U+55c7, U+55da, U+55df, U+55e3, U+55e4, U+55fe;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.60.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+540b, U+540f, U+541d, U+5420, U+5429, U+5442, U+5449, U+544e, U+5451, U+546a, U+5471, U+5480, U+5484, U+5486, U+548a, U+548e, U+54a5, U+54a9, U+54ab, U+54c9, U+54ff, U+5504, U+5506, U+5516;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.61.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+52a6, U+52af, U+52b4, U+52b9, U+52be, U+52c1, U+52c5, U+52d9, U+52db, U+52dd, U+52e0, U+52e2, U+52e7, U+52f2, U+5302, U+530d, U+530f, U+5310, U+5315, U+531d, U+5321, U+5345, U+5354, U+5358, U+536f, U+5372, U+5393, U+5396, U+53a0, U+53a9, U+53ad, U+53b2, U+53b3, U+53ce, U+53df, U+53e1, U+53e2, U+53e9, U+53f1, U+53fa;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.62.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+511a, U+511f, U+5121, U+5132, U+5140, U+5147, U+514c, U+514e, U+5150, U+5162, U+5186, U+5197, U+51a8, U+51aa, U+51b1, U+51b4, U+51bd, U+51cb, U+51cd, U+51db, U+51e6, U+51e9, U+51ea, U+51f1, U+5208, U+520e, U+5215, U+5233, U+5247, U+524b, U+524c, U+525b, U+525d, U+5263, U+5264, U+5270, U+5273, U+5275, U+527d, U+5283, U+5287, U+5289;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.63.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4fe3, U+4fe4, U+4ff3, U+4ff5, U+4ff8, U+5005, U+5006, U+5009, U+5016, U+501e, U+5022-5024, U+5028, U+502b, U+502d, U+5036, U+5039, U+5042, U+5046, U+5049, U+5055, U+5056, U+5070, U+5072, U+5074, U+5075, U+507d, U+5080, U+5091, U+5098-509a, U+50ad, U+50b5, U+50b7, U+50be, U+50c5, U+50ca, U+50cd, U+50d1, U+50d5, U+50da, U+50e5, U+50fb, U+5100, U+5102, U+5104;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.64.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4ec2, U+4ec4, U+4ecf, U+4edd, U+4ede, U+4ee1, U+4eee, U+4efc, U+4f00, U+4f03, U+4f0e, U+4f1d, U+4f36, U+4f39, U+4f43, U+4f47, U+4f57, U+4f5e, U+4f75, U+4f7b, U+4f7c, U+4f8a, U+4f92, U+4f94, U+4fa1, U+4fb6, U+4fc2, U+4fcd, U+4fce, U+4fda, U+4fdf, U+4fe0;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.65.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e15, U+4e21, U+4e26, U+4e3c, U+4e57, U+4e80, U+4e98, U+4e99, U+4e9c, U+4ea2, U+4ea5;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.66.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+2f00, U+2f08, U+2f24, U+2f2d, U+2f2f, U+2f30, U+2f3c, U+2f45, U+2f63, U+2f64, U+2f74, U+2f83, U+2f8f, U+2fbc;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.67.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+512a, U+5352, U+54b2, U+54e1, U+55c5, U+5618, U+56bc, U+57a2, U+589f, U+5a20, U+5a29, U+5a7f, U+5ac9, U+5b09, U+5b5c, U+5bc7, U+5dcd, U+5f1b, U+5f37, U+604d, U+6055, U+620c, U+62ed, U+64ae, U+64c2, U+64d2, U+663c, U+66d9, U+66f8, U+6756, U+6789, U+6975, U+6a1f, U+6c5d, U+6df9, U+6f3e, U+725f, U+72e9, U+733f, U+7396, U+7459, U+745a, U+74a7, U+75f0, U+7729, U+77b0, U+780c, U+7941, U+7977, U+7a20, U+7a92, U+7c9f, U+7fb9, U+8098, U+80b4, U+814b, U+816e, U+818a, U+8205, U+8235, U+828b, U+82a5, U+82d4, U+82db, U+82df, U+8317, U+8338, U+83c1, U+854a, U+892a, U+8a71, U+8dbe, U+8fc4, U+8fe6, U+9023, U+9084, U+9091, U+916a, U+91c9, U+91dc, U+962a, U+9739, U+97a0, U+983b, U+985e;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.68.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e4d, U+4f5a, U+4fae, U+4fd8, U+4ffa, U+501a, U+51c4, U+5225, U+547b, U+54e8, U+54ee, U+55dc, U+55fd, U+5742, U+5824, U+5834, U+598a, U+5b75, U+5bc5, U+5c90, U+5e2b, U+5e37, U+620a, U+62f7, U+65a7, U+65f1, U+6687, U+673d, U+67b8, U+6854, U+68d8, U+68fa, U+696d, U+6a80, U+6d85, U+6e24, U+6f88, U+701a, U+7078, U+707c, U+70ac, U+7409, U+7422, U+752b, U+7656, U+7699, U+7737, U+785d, U+79b9, U+7a3d, U+7a9f, U+7ae3, U+7c3f, U+7d1a, U+7d50, U+803f, U+808b, U+8236, U+82b8, U+82b9, U+83ef, U+8431, U+85c9, U+865e, U+8759, U+8760, U+8a2a, U+8c41, U+8eaf, U+902e, U+914b, U+964b, U+968b, U+96cc, U+96cd, U+98a8, U+9ab8;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.69.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e1e, U+4e5e, U+4f3a, U+5026, U+508d, U+5254, U+5288, U+52d8, U+52fa, U+5308, U+5384, U+53ed, U+543c, U+54c4, U+55a7, U+5631, U+572d, U+57e0, U+5830, U+5984, U+5993, U+5bdd, U+5ed3, U+60bc, U+60df, U+6292, U+6467, U+6714, U+675e, U+6771, U+67a2, U+67ff, U+6805, U+6813, U+68a7, U+68e0, U+6930, U+6a44, U+6a5f, U+6c40, U+6c81, U+6df3, U+6eba, U+6f13, U+72c4, U+73fe, U+7455, U+7578, U+7738, U+776b, U+77b3, U+788c, U+7984, U+79e4, U+7a1a, U+7cef, U+81b3, U+81fb, U+8258, U+8339, U+840e, U+85b0, U+85fb, U+8695, U+86aa, U+8749, U+874c, U+8996, U+8c5a, U+8e44, U+8fed, U+9005, U+9019, U+904e, U+9082, U+90e1, U+9119, U+9580, U+96e2, U+96fb, U+9b41, U+9e92;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.70.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4ec6, U+4f8d, U+4fef, U+500b, U+515c, U+518a, U+51a5, U+5243, U+52c9, U+52d5, U+53ee, U+54fa, U+5580, U+5587, U+56da, U+5815, U+5960, U+5b9b, U+5be1, U+5c4e, U+5c51, U+5c6f, U+5cfb, U+5d16, U+5f27, U+5f6a, U+5f6c, U+609a, U+6168, U+61c8, U+62d0, U+62f1, U+6328, U+632b, U+638f, U+63a0, U+63c9, U+6590, U+6615, U+6627, U+66ae, U+66f0, U+67da, U+6816, U+6893, U+68ad, U+6977, U+6bb7, U+6ce3, U+6e43, U+6eaf, U+6f8e, U+7011, U+70ba, U+7119, U+711a, U+7194, U+72d9, U+72ed, U+7325, U+73c0, U+7426, U+7554, U+75b9, U+7682, U+77ee, U+79e9, U+7a79, U+7b1b, U+7b28, U+7db2, U+7fe1, U+8087, U+809b, U+830e, U+83e9, U+849c, U+851a, U+868a, U+8718, U+874e, U+8822, U+8910, U+8a3b, U+8e72, U+8f9c, U+900d, U+904b, U+9063, U+9577, U+9593, U+961c, U+969b, U+96a7, U+96c1, U+9716, U+9761, U+97ad, U+9b44;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.71.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e19, U+4ea8, U+4ed7, U+4f51, U+4f83, U+50e7, U+5112, U+51a4, U+51b6, U+5239, U+5265, U+532a, U+5351, U+537f, U+5401, U+5492, U+54af, U+54b3, U+54bd, U+554f, U+5598, U+5632, U+58e4, U+5937, U+5955, U+5a49, U+5ac2, U+5bb0, U+5c39, U+5c61, U+5d0e, U+5e9a, U+5eb8, U+5f0a, U+5f13, U+5f8c, U+608d, U+611b, U+6127, U+634f, U+6577, U+65bc, U+6643, U+67af, U+67c4, U+6817, U+68cd, U+690e, U+6960, U+69b4, U+6bb4, U+6c55, U+6c70, U+6cb8, U+6e9c, U+6ede, U+6f84, U+7121, U+722a, U+7261, U+7272, U+7280, U+72f8, U+754f, U+75d8, U+778e, U+786b, U+7948, U+7985, U+79be, U+7a83, U+803d, U+8086, U+810a, U+8165, U+819d, U+81a8, U+831c, U+8328, U+832b, U+83e0, U+83f1, U+8403, U+8475, U+84b2, U+8513, U+85af, U+86d9, U+86db, U+8acb, U+8e81, U+9032, U+9042, U+90b1, U+9175, U+9699, U+96c7, U+978d, U+984c, U+9edb;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.72.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4f3d, U+4f88, U+51f9, U+5203, U+524a, U+5256, U+5375, U+53db, U+541f, U+548b, U+54c7, U+54e9, U+5589, U+566a, U+576a, U+598d, U+59a8, U+5a9b, U+5ae3, U+5bde, U+5c60, U+5deb, U+5df7, U+5f26, U+601c, U+6084, U+614c, U+61be, U+6208, U+621a, U+62d8, U+633d, U+640f, U+6614, U+6642, U+6657, U+683d, U+6850, U+6897, U+68b3, U+68b5, U+68d5, U+6a58, U+6b47, U+6b6a, U+6c90, U+6dd1, U+6e5b, U+6f6d, U+70ad, U+70f9, U+7130, U+745f, U+75d2, U+77dc, U+79bd, U+7a46, U+7ca5, U+7cdf, U+7d6e, U+7fa1, U+7fc1, U+8015, U+80a2, U+80aa, U+813e, U+82ad, U+82bd, U+8305, U+846c, U+8549, U+87f9, U+884d, U+8877, U+888d, U+88d4, U+898b, U+8a79, U+8a93, U+90ca, U+916c, U+9187, U+918b, U+958b, U+9640, U+9e9f;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.73.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e7e, U+4ed5, U+4ef2, U+4f10, U+4f50, U+4faf, U+5180, U+522e, U+52a3, U+52c3, U+5300, U+5319, U+5320, U+5349, U+53d9, U+543e, U+54c0, U+5858, U+5974, U+59a5, U+5a36, U+5a9a, U+5b99, U+5ce1, U+5d14, U+5d4c, U+5f18, U+5f66, U+5f70, U+6070, U+60d5, U+60e7, U+6101, U+611a, U+6241, U+62bc, U+62cc, U+63a9, U+6500, U+6572, U+65a5, U+65ec, U+660f, U+6749, U+6795, U+68da, U+6912, U+6bbf, U+6cab, U+6cca, U+6ccc, U+6d3d, U+6d78, U+6ea2, U+6eb6, U+6f20, U+714c, U+714e, U+7235, U+73ca, U+7624, U+76f2, U+77db, U+77e9, U+7845, U+78ca, U+796d, U+7a84, U+7aed, U+7fc5, U+7ff0, U+8036, U+80ba, U+8155, U+817a, U+8180, U+81e3, U+8247, U+8299, U+8304, U+83ca, U+840d, U+8469, U+8471, U+84c4, U+84ec, U+853d, U+88d5, U+8dea, U+8f9f, U+9774;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.74.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e18, U+4e28, U+4e38, U+4e59, U+4ead, U+4ec7, U+5085, U+5146, U+51f8, U+52ab, U+5339, U+535c, U+5378, U+5398, U+5475, U+54ac, U+54b8, U+5764, U+57cb, U+5835, U+5885, U+5951, U+5983, U+5b5d, U+5b5f, U+5bb5, U+5bc2, U+5be8, U+5bfa, U+5c41, U+5c48, U+5c65, U+5e06, U+5ef7, U+5f17, U+5f25, U+5f6d, U+5f79, U+6028, U+6064, U+6068, U+606d, U+6094, U+6109, U+6247, U+6291, U+62b9, U+62fe, U+6349, U+6367, U+6398, U+64a4, U+64b0, U+64bc, U+64ce, U+658c, U+65ed, U+6602, U+6674, U+6691, U+674f, U+679a, U+67f4, U+6876, U+68a8, U+6a59, U+6a61, U+6b20, U+6bc5, U+6d12, U+6d8c, U+6dc0, U+6e23, U+6f06, U+7164, U+716e, U+71e5, U+72ac, U+742a, U+755c, U+75ab, U+75b2, U+75f4, U+7897, U+78c5, U+7a74, U+7b4b, U+7f50, U+7f55, U+7f9e, U+7fe0, U+809d, U+8106, U+8154, U+818f, U+81c2, U+81ed, U+821f, U+82a6, U+82d1, U+8302, U+83c7, U+845b, U+848b, U+84c9, U+85e4, U+86ee, U+8700, U+8881, U+8c79, U+8fb1, U+9017, U+901d, U+9022, U+906e, U+96c0, U+971c, U+971e, U+9756, U+9b4f, U+9f0e;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.75.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e08, U+4e43, U+4e4f, U+4ef0, U+50ac, U+51f6, U+51fd, U+5272, U+52fe, U+53c9, U+53d4, U+543b, U+54f2, U+5507, U+558a, U+56ca, U+5782, U+57c3, U+5893, U+5915, U+5949, U+5962, U+59fb, U+5bd3, U+5cb3, U+5d07, U+5d29, U+5de1, U+5dfe, U+5eca, U+5f7c, U+5fcc, U+609f, U+60f9, U+6108, U+6148, U+6155, U+6170, U+629b, U+62ab, U+62f3, U+6350, U+6566, U+659c, U+65e8, U+6635, U+6670, U+66f9, U+6734, U+679d, U+6851, U+6905, U+6b96, U+6c41, U+6c6a, U+6c83, U+6cf3, U+6d9b, U+6dcb, U+6e20, U+6e21, U+6eaa, U+722c, U+7262, U+7267, U+7334, U+7433, U+758f, U+75d5, U+764c, U+7686, U+76c6, U+76fe, U+7720, U+77e2, U+7802, U+788d, U+7891, U+7a00, U+7b52, U+7bad, U+7c98, U+7cca, U+7f69, U+809a, U+80c3, U+81c0, U+820c, U+82ac, U+82af, U+82d7, U+839e, U+8404, U+84b8, U+852c, U+8587, U+85aa, U+8650, U+8679, U+86c7, U+8702, U+87ba, U+8870, U+8d64, U+8d6b, U+8d74, U+8fb0, U+9038, U+90aa, U+9675;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.76.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e11, U+4e32, U+4f0d, U+4f0f, U+4f69, U+50b2, U+51dd, U+51f0, U+5211, U+533f, U+5366, U+5446, U+574a, U+5751, U+5806, U+5821, U+582a, U+5948, U+5978, U+59d1, U+5a03, U+5ac1, U+5acc, U+5ae9, U+5bb4, U+5bc4, U+5c3f, U+5e3d, U+5e7d, U+5f92, U+5faa, U+5fe0, U+5ffd, U+6016, U+60a0, U+60dc, U+60e8, U+614e, U+6212, U+6284, U+62d3, U+63f4, U+642c, U+6478, U+6492, U+64e6, U+6591, U+65a4, U+664b, U+6746, U+67f1, U+67f3, U+6842, U+68af, U+68c9, U+68cb, U+6b3a, U+6c0f, U+6c57, U+6cc4, U+6ce5, U+6d2a, U+6d66, U+6d69, U+6daf, U+6e58, U+6ecb, U+6ef4, U+70ab, U+71d5, U+7384, U+73b2, U+7434, U+74e6, U+75bc, U+76c8, U+7709, U+77ac, U+78a7, U+78c1, U+7c92, U+7cae, U+7fd4, U+7ffc, U+8096, U+80de, U+8102, U+8179, U+8292, U+82b3, U+8352, U+83cc, U+8461, U+857e, U+866b, U+8776, U+8896, U+88f8, U+8a9e, U+8dcc, U+8df5, U+8e0f, U+8f9e, U+8feb, U+9065, U+90a6, U+90c1, U+9676, U+970d, U+9e7f, U+9f3b;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.77.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e95, U+4ec1, U+4f2f, U+4f38, U+4fca, U+5141, U+5144, U+517c, U+51cc, U+51ed, U+52e4, U+540a, U+5439, U+5448, U+54ed, U+5761, U+5766, U+58ee, U+594f, U+5954, U+5996, U+59c6, U+59ff, U+5b64, U+5bff, U+5ca9, U+5cb8, U+5ec9, U+5f04, U+5fa1, U+5fcd, U+6012, U+60a6, U+60b2, U+626e, U+6276, U+632f, U+633a, U+6355, U+63aa, U+649e, U+64c5, U+65c1, U+65cb, U+65e6, U+6606, U+6731, U+675c, U+67cf, U+6846, U+6b8b, U+6beb, U+6c88, U+6cbf, U+6cdb, U+6d45, U+6d74, U+6db5, U+6deb, U+6f0f, U+708e, U+72fc, U+731b, U+7483, U+74dc, U+74f6, U+7586, U+7626, U+775b, U+7956, U+7965, U+79e6, U+7af9, U+7c97, U+7f6a, U+7f72, U+7fbd, U+8017, U+808c, U+80a9, U+80c6, U+80ce, U+8150, U+8170, U+819c, U+8239, U+827e, U+8377, U+8463, U+88c2, U+8986, U+8c8c, U+8e2a, U+8f9b, U+8fa8, U+9003, U+90ce, U+90ed, U+963b, U+966a, U+99a8, U+9b45, U+9ece, U+9f20;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.78.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e88, U+4ea1, U+4ea6, U+4ed4, U+4f30, U+4fc4, U+4fd7, U+500d, U+504f, U+5076, U+5192, U+5238, U+526a, U+52c7, U+52df, U+52ff, U+53a8, U+53ec, U+5410, U+559d, U+5634, U+585e, U+586b, U+58a8, U+5999, U+59d3, U+5a1c, U+5a46, U+5b54, U+5b55, U+5b85, U+5b8b, U+5b8f, U+5bbf, U+5bd2, U+5c16, U+5c24, U+5e45, U+5e7c, U+5e84, U+5f1f, U+5f31, U+5f84, U+5f90, U+5fbd, U+5fd9, U+6052, U+6062, U+6089, U+60a3, U+60d1, U+6167, U+622a, U+6234, U+62b5, U+62d2, U+63e1, U+643a, U+6562, U+656c, U+65e2, U+65fa, U+660c, U+6628, U+6652, U+6668, U+6676, U+66fc, U+66ff, U+6717, U+676d, U+67d4, U+6843, U+6881, U+68d2, U+695a, U+69fd, U+6a2a, U+6b8a, U+6c60, U+6cc9, U+6ce1, U+6d1b, U+6d1e, U+6d6e, U+6de1, U+6e7f, U+6f5c, U+7070, U+7089, U+70b8, U+718a, U+71c3, U+723d, U+732a, U+73cd, U+7518, U+756a, U+75be, U+75c7, U+76d7, U+7763, U+78e8, U+795d, U+79df, U+7c4d, U+7d2f, U+7f8a, U+8000, U+8010, U+80af, U+80f8, U+8212, U+83ab, U+83b1, U+83f2, U+8584, U+871c, U+8861, U+888b, U+88c1, U+8d76, U+8de8, U+8fa3, U+8fc5, U+9006, U+903c, U+904d, U+9075, U+9178, U+9686, U+978b, U+9b42, U+9ea6, U+9f13;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.79.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e01, U+4e39, U+4e73, U+4ecd, U+4ed9, U+4f0a, U+4fa0, U+4fc3, U+501f, U+515a, U+5175, U+51a0, U+51e1, U+5200, U+520a, U+5224, U+523a, U+52aa, U+52b1, U+5348, U+5353, U+5360, U+5371, U+539a, U+541b, U+547c, U+5510, U+5531, U+5609, U+56f0, U+56fa, U+5851, U+5854, U+58c1, U+592e, U+59bb, U+5a18, U+5b87, U+5b97, U+5bf8, U+5c0a, U+5c3a, U+5c4a, U+5e16, U+5e1d, U+5e2d, U+5e8a, U+602a, U+6050, U+6069, U+6162, U+6293, U+6297, U+62b1, U+62bd, U+6302, U+638c, U+6458, U+6469, U+6563, U+6620, U+6696, U+6697, U+66dd, U+675f, U+676f, U+67d0, U+67d3, U+6885, U+68b0, U+68ee, U+690d, U+6b23, U+6b32, U+6d25, U+6db2, U+6df7, U+6ed1, U+6f02, U+70c8, U+70df, U+7126, U+7236, U+7259, U+731c, U+745e, U+74e3, U+751a, U+751c, U+7532, U+75db, U+7761, U+7a0d, U+7b51, U+7cd6, U+7d2b, U+8033, U+804a, U+80a5, U+80e1, U+817f, U+829d, U+82e6, U+8336, U+840c, U+8499, U+864e, U+865a, U+89e6, U+8c37, U+8ddd, U+8fea, U+9010, U+906d, U+907f, U+9080, U+9177, U+9694, U+9707, U+9738, U+9769, U+9aa8, U+9b3c;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.80.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e4e, U+4e71, U+4ee4, U+5012, U+51ac, U+51b2, U+51b7, U+5237, U+523b, U+526f, U+53e5, U+53eb, U+53f3, U+53f6, U+5409, U+5438, U+54c8, U+54e5, U+552f, U+5584, U+5750, U+59b9, U+59d0, U+59d4, U+5b88, U+5b9c, U+5bdf, U+5c01, U+5c04, U+5c3e, U+5c4b, U+5c4f, U+5cf0, U+5ddd, U+5de6, U+5de8, U+5e78, U+5e7b, U+5e9c, U+5ead, U+5ef6, U+5fd8, U+6025, U+604b, U+613f, U+6258, U+6263, U+6298, U+62ec, U+6311, U+6377, U+6388, U+6389, U+63a2, U+642d, U+654f, U+6551, U+6597, U+65cf, U+65d7, U+65e7, U+66f2, U+671d, U+672b, U+6751, U+6982, U+6bd2, U+6cf0, U+6d0b, U+6d17, U+6d59, U+6dd8, U+6dfb, U+6e7e, U+6f6e, U+6fb3, U+706f, U+719f, U+72af, U+72d0, U+72d7, U+732b, U+732e, U+7389, U+73e0, U+7530, U+7687, U+76db, U+786c, U+79cb, U+79d2, U+7a0e, U+7a3f, U+7adf, U+7b26, U+7e41, U+8089, U+811a, U+8131, U+821e, U+8349, U+83dc, U+8457, U+86cb, U+8a89, U+8c6a, U+8df3, U+8ff9, U+900f, U+9014, U+9192, U+91ce, U+9644, U+964d, U+96c4, U+96c5, U+96e8, U+96f6, U+96f7, U+9732, U+9759, U+9760, U+9910, U+9b54, U+9ebb;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.81.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e03, U+4e45, U+4e5d, U+4e89, U+4eae, U+4ed8, U+4f11, U+4f34, U+4f59, U+4f73, U+4f9d, U+4fb5, U+505c, U+5374, U+5426, U+542b, U+5473, U+571f, U+57df, U+57f9, U+5802, U+590f, U+591c, U+592b, U+5965, U+5a01, U+5a5a, U+5ba3, U+5c3c, U+5de7, U+5dee, U+5e0c, U+5e55, U+5e8f, U+5ea7, U+5f81, U+5ff5, U+6279, U+62c5, U+62ff, U+63cf, U+64cd, U+653b, U+65bd, U+65e9, U+66b4, U+66fe, U+6728, U+677e, U+67b6, U+6b4c, U+6b66, U+6b7b, U+6bcd, U+6bdb, U+6c38, U+6cb3, U+6cb9, U+6ce2, U+6d32, U+6d3e, U+6e56, U+6fc0, U+7206, U+725b, U+72c2, U+73ed, U+7565, U+7591, U+75c5, U+76ae, U+76df, U+7834, U+7968, U+7981, U+79c0, U+7a7f, U+7a81, U+7ae5, U+7c89, U+7ffb, U+805a, U+80a1, U+822c, U+82e5, U+878d, U+8840, U+8857, U+8863, U+8b66, U+8c46, U+8da3, U+8ff0, U+8ff7, U+8ffd, U+9000, U+9047, U+9152, U+969c, U+96ea;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.82.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e14, U+4f3c, U+4f4f, U+4f8b, U+4fbf, U+5019, U+5145, U+514b, U+516b, U+516d, U+5178, U+5199, U+51b5, U+5207, U+521d, U+533b, U+5343, U+5347, U+534a, U+5370, U+53e4, U+53f2, U+5403, U+547d, U+54a8, U+5747, U+5883, U+589e, U+5931, U+5947, U+5957, U+5a92, U+5b63, U+5ba4, U+5bb3, U+5bcc, U+5c1a, U+5c3d, U+5c40, U+5c45, U+5c5e, U+5df4, U+5e72, U+5e95, U+5f80, U+5f85, U+5fb7, U+5fd7, U+601d, U+627f, U+62c9, U+62cd, U+6309, U+63a7, U+6545, U+65ad, U+65af, U+65c5, U+666e, U+667a, U+670b, U+671b, U+674e, U+677f, U+6790, U+6797, U+6821, U+6838, U+6839, U+697c, U+6b27, U+6b62, U+6bb5, U+6c7d, U+6c99, U+6d6a, U+6e29, U+6e2f, U+6f14, U+6f2b, U+72b6, U+72ec, U+7387, U+7533, U+753b, U+76ca, U+7701, U+773c, U+77ed, U+77f3, U+7814, U+793c, U+79c1, U+79d8, U+79fb, U+7a76, U+7b11, U+7b54, U+7b56, U+7b97, U+7bc7, U+7c73, U+7d20, U+7fa4, U+8058, U+80cc, U+826f, U+8303, U+843d, U+89d2, U+8c61, U+8d8a, U+8fd4, U+9632, U+963f, U+968f, U+9999, U+9ec4;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.83.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e16, U+4e91, U+4e92, U+4e94, U+4e9b, U+4ec0, U+4eca, U+4f01, U+4f46, U+4f4e, U+4f9b, U+4fee, U+5065, U+50cf, U+5148, U+518d, U+51c6, U+51e0, U+5217, U+529f, U+5341, U+53c2, U+53c8, U+53cc, U+53d7, U+5404, U+5411, U+5468, U+559c, U+5668, U+56e0, U+5740, U+57fa, U+58eb, U+592a, U+59cb, U+5b58, U+5b9d, U+5bc6, U+5c71, U+5dde, U+5df1, U+5e97, U+5eb7, U+5f15, U+5f62, U+5f69, U+5f8b, U+5fc5, U+623f, U+628a, U+62db, U+6307, U+636e, U+64ad, U+6539, U+653f, U+6548, U+6574, U+6613, U+6625, U+666f, U+672a, U+6750, U+6a21, U+6b3e, U+6c11, U+6c5f, U+6df1, U+706b, U+7167, U+724c, U+738b, U+73a9, U+7403, U+7537, U+754c, U+7559, U+767d, U+7740, U+795e, U+798f, U+79f0, U+7aef, U+7bb1, U+8003, U+80b2, U+81f3, U+81f4, U+822a, U+82f1, U+8d70, U+8db3, U+8fce, U+8fd1, U+9001, U+901f, U+9020, U+90a3, U+914d, U+91c7, U+9662, U+9664, U+9700, U+9752, U+975e, U+97f3, U+98df, U+9ed1;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.84.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e07, U+4e5f, U+4e8b, U+4e8c, U+4ea4, U+4eab, U+4eac, U+4ecb, U+4ed6, U+4ee3, U+4ef6, U+4efb, U+4f55, U+4f7f, U+4fdd, U+505a, U+5143, U+5149, U+514d, U+5171, U+5177, U+5229, U+52a9, U+5305, U+5317, U+5357, U+535a, U+5373, U+539f, U+53bb, U+53ca, U+53cd, U+53d6, U+53e3, U+53ea, U+53f0, U+5546, U+56db, U+578b, U+57ce, U+58f0, U+5973, U+5b57, U+5b8c, U+5b98, U+5bb9, U+5c06, U+5c11, U+5c31, U+5c55, U+5df2, U+5e03, U+5e76, U+5efa, U+5f71, U+5f97, U+5feb, U+60f3, U+611f, U+6216, U+624d, U+6253, U+6295, U+6301, U+6392, U+652f, U+653e, U+6559, U+6599, U+661f, U+671f, U+6761, U+683c, U+6848, U+6b64, U+6bd4, U+6c34, U+6c42, U+6ca1, U+6d41, U+6d77, U+6d88, U+6e05, U+6e38, U+6e90, U+7136, U+7531, U+767e, U+76ee, U+76f4, U+771f, U+793a, U+7a0b, U+7a7a, U+7acb, U+7ae0, U+7b2c, U+7ba1, U+7cbe, U+7d22, U+7f6e, U+8001, U+800c, U+8272, U+82b1, U+8350, U+88ab, U+88c5, U+897f, U+89e3, U+8a00, U+8d77, U+8d85, U+8def, U+8eab, U+90fd, U+91cc, U+91cd, U+91cf, U+9650, U+96c6;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.85.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e09-4e0b, U+4e0d, U+4e0e, U+4e3b, U+4e4b, U+4e86, U+4e8e, U+4eba, U+4ee5, U+4f1a, U+4f4d, U+4f53, U+4f5c, U+4fe1, U+5165, U+5168, U+516c, U+5176, U+5185, U+51fa, U+5206, U+5230, U+5236, U+524d, U+529b, U+52a0, U+5316, U+533a, U+53cb, U+53ef, U+53f7, U+53f8, U+5408, U+540c-540e, U+544a, U+548c, U+54c1, U+56de, U+56fd, U+5728, U+5730, U+5916, U+591a, U+5927, U+5929, U+597d, U+5982, U+5b50, U+5b66, U+5b89, U+5b9a, U+5ba2, U+5bb6, U+5c0f, U+5de5, U+5e02, U+5e38, U+5e73, U+5e74, U+5ea6, U+5f0f, U+5f53, U+5fae, U+5fc3, U+6027, U+606f, U+60c5, U+610f, U+6210, U+6211, U+6240, U+624b, U+6280, U+63a5, U+63a8, U+63d0, U+6570, U+6587, U+65b9, U+660e, U+662d, U+662f, U+66f4, U+6700, U+670d, U+672c, U+673a, U+6765, U+679c, U+682a, U+6b21, U+6b63, U+6cbb, U+6cd5, U+6ce8, U+6d3b, U+7247, U+7248, U+7269, U+7279, U+7406, U+751f, U+7528, U+767b, U+76f8, U+770b, U+77e5, U+793e, U+79d1, U+7ad9, U+7b49, U+7cfb, U+7f8e, U+8005, U+80fd, U+81ea, U+884c, U+8868, U+8981, U+901a, U+9053, U+90e8, U+91d1, U+9762, U+9996, U+9ad8;
}

@font-face {
    font-family: RoGSanSrfStd-Bd;
    src: url("./RoGSanSrfStd-Bd_CJK.86.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4e00, U+4e2d, U+65b0, U+65e5, U+6708, U+6709, U+70b9, U+7684;
}
